/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px) and (max-height: 680px){
   .home__container{
      height: 780px;
   }
}

/* For medium devices */
@media screen and (min-width: 576px){
   .home{
      &__images img{
         width: 100%;
         right: 0;
      }
      &__title{
         bottom: -.5rem;
      }
   }
}

@media screen and (min-width: 768px){
   .home{
      &__sled{
         width: 300px;
      }
      &__title{
         bottom: .5rem;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .nav{
      height: calc(var(--header-height) + 2rem);

      &__toggle,
      &__close{
         display: none;
      }
      &__list{
         flex-direction: row;
         column-gap: 4rem;
      }
      &__logo{
         font-size: var(--h3-font-size);
      }
   }

   .home{
      &__container{
         height: 860px; /* Comment for full screen */
      }
      &__cloud-1,
      &__cloud-2{
         width: 150px;
      }
      &__cloud-1{
         top: 8rem;
      }
      &__cloud-2{
         top: 12rem;
      }
      &__sled{
         width: 480px;
         top: 7rem;
      }
   }
}

@media screen and (min-width: 1500px){
   .home{
      &__images img{
         bottom: -4rem;
      }
      &__title{
         bottom: 0;
      }
   }
}

/* For taller devices */
@media screen and (min-width: 1150px) and (min-height: 860px){
   .home__container{
      height: 100vh;
   }
}
