/*=============== HOME ===============*/
.home{
   position: relative;

   &__container{
      height: 100vh;
      overflow: hidden;
   }
   &__bg,
   &__cloud-1,
   &__cloud-2,
   &__sled,
   &__images img,
   &__title{
      position: absolute;
   }
   &__bg{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
   &__images img{
      max-width: initial;
      width: 900px;
      right: -16rem;
      bottom: 0;
   }
   &__sled{
      width: 200px;
      top: 11rem;
      left: 0;
      animation: sled 10s linear infinite;
      transition: transform .4s;
   }
   &__cloud-1,
   &__cloud-2{
      width: 80px;
   }
   &__cloud-1{
      left: 2rem;
      top: 5rem;
      animation: cloud-1 12s linear infinite;
   }
   &__cloud-2{
      right: 2rem;
      top: 8.5rem;
      animation: cloud-2 12s linear infinite;
   }
   &__title{
      bottom: 1.5rem;
      left: 0;
      right: 0;
      color: var(--first-color);
      font: var(--font-regular) var(--biggest-font-size) var(--second-font);
      line-height: 100%;
      text-align: center;
   }
}

/* Animated Clouds */
@keyframes cloud-1{
   0% {
      margin-left: 100%;
   }
   100% {
      margin-left: -1000px;
   }
}

@keyframes cloud-2{
   0% {
      margin-right: -1000px;
   }
   100% {
      margin-right: 100%;
   }
}

/* Animated sled */
@keyframes sled{
   0% {
      transform: translateX(-150vw) rotate(15deg) scale(.2);
   }
   15%{
      transform: translateX(0vw) rotate(10deg) scale(1);
   }
   30%{
      transform: translateX(10vw) rotate(7deg);
   }
   45%{
      transform: translateX(20vw) rotate(6deg);
   }
   60%{
      transform: translateX(30vw) rotate(5deg);
   }
   75%{
      transform: translateX(40vw) rotate(4deg);
   }
   90%{
      transform: translateX(50vw) rotate(-2deg);
   }
   100%{
      transform: translateX(150vw) rotate(-15deg) scale(.2);
   }
}

/* Snow color */
#embedim--snow .embedim-snow{
   background: white;
}
