/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(1, 100%, 38%);
   --white-color: hsl(0, 0%, 100%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Montserrat", sans-serif;
   --second-font: "Galada", cursive;

   --biggest-font-size: 3rem;
   --normal-font-size: .938rem;

   // Responsive typography
   @media screen and (min-width: 1150px){
      --biggest-font-size: 4.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-semi-bold: 600;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}
